body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffcd86;
    margin: 0;
    padding: 0;
}

body *{
    color: #d87442;
    font-size: 16px;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    margin-block: 25px 35px;
    font-size: 35px;
    width: 100%;
}

h2, p{
    margin: 0;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 60%;
}

.card{
    display: flex;
    flex-wrap: wrap;
    background: #ffe3b9;
    color: #d87442;
    border: 0;
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0px 0px 5px #d87442;
}

.card h2{
    width: 100%;
}

.card img{
    width: 45px;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 50%;
    border: 1.5px dashed #d8b3d2;
    padding: 10px;
    background: #d8b3d2;
}

.category{
    font-size: 12px;
}

.btn-filter{
    border-radius: 15px;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    background: #d8b3d2;
    color: white;
}

.filter-container{
    width: 100%;
}

.filter-select {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d87442;
    background: #ffe3b9;
}

.resume-container{
    width: 30%;
    padding-inline: 10px;
}

.resume-container h2{
    font-size: 20px;
}

.categories-container,
.categories-count{
    margin-block: 10px;
}