* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

div{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    background-color: black;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin-bottom: 3rem;
}

.title, .subtitle {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle{
    color: rgb(241, 241, 115);
    margin-bottom: 1rem;
}

.card{
    margin-bottom: 1.5rem;
}